{% extends 'main.html' %}
{% load static translator %}

{% block title %}
{{'Kontrasepsyon'|trans:lg_ch}}
{% endblock %}

{% block body %}
<div class="inner-banner-agileits-w3layouts">
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
   <div class="container">
		<div class="w3l_agileits_breadcrumbs_inner">
			<ul>
				<li><a href="/">Home</a><span>«</span></li>
									
				<li>{{'Kontrasepsyon'}}</li>
				</ul>
		</div>
	</div>
</div>		
<!-- //breadcrumbs -->
<!-- locations -->
<div class="locations-w3-agileits">
	<div class="container" style="margin-left: 50px">
	<div class="row">
		<div class="col-xs-12">
			Se ansanm de metòd kap pemet nou evite gwosès. Ou ka chanjel nenpot lè el pap rann ou enkapab pouw pa fè pitit
			<h3 class="text-success"><b>Genyen 3 metòd kontraseptib</b></h3>
			<div>
			    <ul>
				  	<li>Metòd natirèl</li>
				  	<em class="f-11"> Metod sa li menm li baze sou peryod byen presi nan mwa a kote fi a paka fe pitit</em>
				  
				  	<li>Metòd modèn</li>
				  	<p></p>
				  	<li>Metòd popilè</li>
				</ul>
			</div>

			<h4>Men sa ki fe pati metod natirel yo</h4>
			  <div>
			    <ul>
				  <li>Metòd tamperati</li>
				  <p>Metod sa baze sou etid tanperati fi a. Natirelman, si fi a pa malad tanperatil ap rete stab. <br>
				  	Chak jou, nan menm leu a, wap pran tanperati fi a, depi tanperati fi a monte de 0.5, se peryod fi a ap ovile a. <br>
				  	Nan moman sa yo, ou menm fanm ki pa vle fe pitit, ou pap rantre nan relasyon ak patne w la </p>
				  <li>Metòd periodik</li>
				  <li>Metòd glè sèvikal</li>
				  <li>metòd simpto tèmik</li>
				  <li>Metòd jou fikse ou bag kolye,MAMA</li>
				</ul>
			</div>

			<h4>Men sa ki fe pati de metod moden yo</h4>
			<div>
			    <ul>
				  <li>Piki <span>Kapòt gason</span></li>
				  <li>Grenn<span>Kapòt fi</span></li>
				  <li>Enplantasyon<span>Dyagram</span></li>
				  <li>Esterilè ou DIU<span>Metòd vaginal</span> </li>
				</ul>
			</div>
		</h3>
	</div>
	</div>
</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(".box-menu").click(function(){
			window.location.href = $(this).data('href');
		});
	</script>
{% endblock %}

<!-- <p><h1>La contraception</h1>

<p><h2>C’est une méthode permettant de façon réversible et temporaire d’éviter une grossesse.<2></p>
<p><h3>Il existe trois méthodes de contraception à savoir la méthode traditionnelle, moderne et populaire</h3>
<div>
    <ul>
	  <li>Les methodes naturelles</li>
	  <p> On qualifie de "naturelles" toutes les méthodes qui visent à identifier la période de l'ovulation<br>
	   de manière à éviter d'avoir des rapports sexuels fécondants à ce moment-là.</p>
	  
	  <li>Les methodes periodiques</li>
	  <p></p>
	  <li>Les methodes populaires</li>
	</ul>
</div>
  <p><h3>1)MParmi les methodes naturelles, nous pouvons citer:</h3></p>
  <div>
    <ul>
	  <li>la méthode des températures</li>
	 Cette méthode consiste à repérer la période d’ovulation en fonction de la température du corps.<br>
		En effet, la température habituelle de la femme s'élève légèrement au moment de l’ovulation : de 0,2 à 0,5 °C (on passe de 36,7 à 37,1 °C, par exemple).<br>
 		Comme l'ovocyte vit 24 heures, les rapports sexuels non protégés qui ont lieu plus de trois jours après l'élévation de température ne peuvent, en principe, pas entraîner de grossesse.<br>Pour mettre en œuvre cette méthode et déterminer la date de l’ovulation, il faut prendre sa température tous les matins à la même heure, au lit, avant de se lever.
	  <li>la methode de l'abstinence periodique</li>
	  <li>La methode de la glaire cervicale</li>
	  <li>la méthode sympto thermique</li>
	  <li>la méthode des jours fixes ou collier du cycle, la MAMA.</li>
	</ul>
</div>

<p><h3>Parmi les méthodes modernes nous retenons:<h3>:</p>
<div>
    <ul>
	  <li>Les pillules </li>
	 <li>Les préservatifs féminins</li>>
	  <li>l'implantation<span> Le diaphragme</span></li>
	  <li>Le stérilet ou DIU<span>Les méthodes vaginales</span> </li>
	</ul>
</div> -->